<template name="header">
         <header>
                  <h1 class="center-align">My To Do List</h1>
         </header>
</template>

<template name="form">
         <form class="add-new-task">
                  <div class="input-field">
                           <input type="text" placeholder="Add A New Task" />
                           <!--<input type='file' onchange="readURL(this);" />-->
                  </div>
                  <div class="center-button">
                           <button class="waves-effect waves-light btn" type="submit">Submit</button>
                  </div>
         </form>

</template>

<template name="todosIf">
         <ul class="collection" id="collection1">
                  {{#each todoList}}
                  <li id="bigger-post" class="collection-item {{#if this.complete}}completed{{/if}}">
                           <span class="task">Task: </span>{{this.name}}
                           <!--<img id="blah" src="#" alt="your image" />-->

                           <div class="secondary-content">
                                    {{> completeCheck this}}
                                    <a class="delete-task"><i class="material-icons">delete</i></a>
                           </div>
                  </li>
                  <li id="smaller-time" class="collection-item"><span class="time">Time:</span> {{this.createdAt}}</li>
                  {{/each}}
         </ul>
</template>

<template name="todosDenis">
         <ul class="collection">
                  <li id="collection2" class="collection-item">No tasks to complete</li>
         </ul>
</template>

<template name="todos">
         {{#if todoList "Collections.Todo.find({}).count()" != 0}} {{> todosIf}} {{else}} {{> todosDenis}} {{/if}}
</template>

<template name="completeCheck">
         {{#unless this.complete}}
         <a class="complete-task"><i class="material-icons">done</i></a> {{else}}
         <a class="incomplete-task"><i class="material-icons">not_interested</i></a> {{/unless}}
</template>