.center-align {
         font-family: 'Poiret One', cursive;
}

.completed {
         text-decoration: line-through;
}

.secondary-content a {
         margin: 0 0.5em;
}

.complete-task {
         color: #1cac1c;
}

.incomplete-task {
         color: #be1717;
}

i {
         cursor: pointer;
}

.center-button {
         text-align: center;
}

.input-field {
         margin: 0 auto;
         width: 75%;
}

.time {
         color: lightblue;
}

#smaller-time {
         background-color: rgba(211, 211, 211, 0.08);
         border-bottom: 1px solid lightgrey;
         border-left: 1px solid lightgrey;
         border-right: 1px solid lightgrey;
         font-family: 'Yanone Kaffeesatz', sans-serif;
         font-size: 20px;
         width: 500px;
}

.task {
         color: lightgreen;
}

#bigger-post {
         border: 1px solid lightgrey;
         font-family: 'Yanone Kaffeesatz', sans-serif;
         font-size: 25px;
         font-weight: 500;
}

#collection1 {
         border-color: transparent;
}

#collection2 {
         background-color: rgba(144, 238, 144, 0.21);
}